version: 2.1

parameters:
  aws-jobs:
    type: boolean
    default: false
  windows-jobs:
    type: boolean
    default: false
  gcp-jobs:
    type: boolean
    default: false

executors:
  docker-default:
    docker:
      - image: 'cimg/base:current'
  docker: # Docker using the Base Convenience Image with parameterized resource class
    parameters:
      resource_class:
        type: string
        default: "small"
    docker:
      - image: 'cimg/base:current'
    resource_class: <<parameters.resource_class>>
  windows:  # Windows using the default windows image
    parameters:
      resource_class:
        type: string
        default: "medium"
    machine:
      image: windows-default
      shell: 'powershell.exe -ExecutionPolicy Bypass'
    resource_class: <<parameters.resource_class>>

commands:
  # resource_class verification commands to execute depending on executor_type
  verify_resource_class:
    parameters:
      resource_class:
        type: string
        default: "small"
      executor_type:
        type: string
        default: "docker"
    steps:
      - when:
          condition:
            equal: [ "docker", << parameters.executor_type >> ]
          steps:
            - run:
                name: verify required Environment Variables
                command: |
                  if [ -z "${CIRCLE_HOSTNAME}" -o -z "${CIRCLE_TOKEN}" ];then
                    echo "You must provide 2 Environment Variables in project settings for this job to run."
                    echo "CIRCLE_HOSTNAME: Should be the scheme://domain of your install. \"https://ci.example.com\""
                    echo "CIRCLE_TOKEN: Should be the API Key of an admin or project level with Scope:All"
                    exit 1
                  fi
            - run:
                name: Verify that job ran with the requested resource_class option
                command: |
                  curl -k \
                  "${CIRCLE_HOSTNAME%/}/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/$CIRCLE_BUILD_NUM?\
                  circle-token=$CIRCLE_TOKEN" | \
                  jq '.picard.resource_class.class' | grep <<parameters.resource_class>>
      - when:
          condition:
            equal: [ "windows", << parameters.executor_type >> ]
          steps:
            - run:
                name: verify required Environment Variables
                command: |
                  if (!((Test-Path env:CIRCLE_HOSTNAME) -and (Test-Path env:CIRCLE_TOKEN))) {
                    Write-Host "You must provide 2 Environment Variables in project settings for this job to run."
                    Write-Host "CIRCLE_HOSTNAME: Should be the scheme://domain of your install. "https://ci.example.com""
                    Write-Host "CIRCLE_TOKEN: Should be the API Key of an admin or project level with Scope:All"
                    Exit 1
                  }
            - run:
                name: Verify that job ran with the requested resource_class option
                command: |
                  $job = Invoke-RestMethod -URI "$env:CIRCLE_HOSTNAME/api/v2/project/gh/$env:CIRCLE_PROJECT_USERNAME/$env:CIRCLE_PROJECT_REPONAME/job/$env:CIRCLE_BUILD_NUM" `
                    -Headers @{ "Circle-Token" = "$env:CIRCLE_TOKEN" }
                  $job.executor.resource_class | Select-String -Pattern "<<parameters.resource_class>>"

  basic_docker_build:
    steps:
      - run:
          name: "Build a really basic docker image"
          command: |
            dockerfile=Dockerfile
            echo "FROM alpine:latest" > $dockerfile
            echo "RUN echo hello" >> $dockerfile
            docker build -f $dockerfile --tag throwaway:$CIRCLE_BUILD_NUM .
            docker run --rm throwaway:$CIRCLE_BUILD_NUM

jobs:
  env-subst-example:
    executor: docker-default
    environment:
      foo: bar
      alpha: beta
    steps:
      - checkout
      - run:
          command: echo 'the value of foo is "$foo" and next to alpha is "$alpha"' > template.tmpl
      - run:
          command: cat template.tmpl
      - run:
          command: circleci env subst < template.tmpl > output.txt
      - run:
          command: grep "bar" output.txt | grep "beta"

  # job definition for verifying the resource_class per each executor_type
  executor_resource_class:
    parameters:
      resource_class:
        type: string
        default: "small"
      executor_type:
        type: string
        default: "docker"
    executor:
      name: <<parameters.executor_type>>
      resource_class: <<parameters.resource_class>>
    steps:
      - verify_resource_class:
          resource_class: <<parameters.resource_class>>
          executor_type: <<parameters.executor_type>>

  check_if_environment_is_aws:
    executor: docker-default
    steps:
      - run:
          name: Verify AWS Environment
          command: |
            if [ -z "${CIRCLE_CLOUD_PROVIDER}" ];then
              echo "You must provide the CIRCLE_CLOUD_PROVIDER environment variable in project settings for this job to run.";
              exit 1;
            fi
            if [[ "${CIRCLE_CLOUD_PROVIDER}" != 'aws' ]]; then
              echo "This installation is not in an AWS environment. Cancelling downstream workflow.";
              curl -X POST "${CIRCLE_HOSTNAME%/}/api/v2/workflow/$CIRCLE_WORKFLOW_ID/cancel?circle-token=$CIRCLE_TOKEN"
            fi

  check_if_environment_is_gcp:
    executor: docker-default
    steps:
      - run:
          name: Verify GCP Environment
          command: |
            if [ -z "${CIRCLE_CLOUD_PROVIDER}" ];then
              echo "You must provide the CIRCLE_CLOUD_PROVIDER environment variable in project settings for this job to run.";
              exit 1;
            fi
            if [[ "${CIRCLE_CLOUD_PROVIDER}" != 'gcp' ]]; then
              echo "This installation is not in an GCP environment. Cancelling downstream workflow.";
              curl -X POST "${CIRCLE_HOSTNAME%/}/api/v2/workflow/$CIRCLE_WORKFLOW_ID/cancel?circle-token=$CIRCLE_TOKEN"
            fi

  check_if_windows_is_enabled:
    executor: docker-default
    steps:
      - run:
          name: Verify if Windows enabled env flag is set to true
          command: |
            if [[ "${CIRCLE_WINDOWS_EXECUTOR}" != "true" ]]; then
              echo "Windows executor environment flag is not set to \"true\". Cancelling downstream workflow."
              curl -X POST "${CIRCLE_HOSTNAME%/}/api/v2/workflow/$CIRCLE_WORKFLOW_ID/cancel?circle-token=$CIRCLE_TOKEN"
            fi

  # vm jobs
  machine:
    machine: true
    steps:
      - basic_docker_build
      - run: |
          echo $SLEEP
          date
          sleep $SLEEP
          date
          echo 'Done sleeping.'
    environment:
      SLEEP: 1
  
  android_machine:
    machine:
      image: android-default
    steps:
      - basic_docker_build
      - run: |
          echo $SLEEP
          date
          sleep $SLEEP
          date
          echo 'Done sleeping.'
    environment:
      SLEEP: 1

  aws_arm:
    machine:
      image: arm-default
    resource_class: arm.medium
    steps:
      - basic_docker_build
      - run: |
          echo $SLEEP
          date
          sleep $SLEEP
          date
          echo 'Done sleeping.'
    environment:
      SLEEP: 1

  remote_docker:
    executor: docker-default
    steps:
      - run: which docker
      - run: docker -v
      - setup_remote_docker
      - basic_docker_build
      - run: docker version

  docker_layer_caching:
    executor: docker-default
    steps:
      - run: which docker
      - run: docker -v
      - setup_remote_docker:
          docker_layer_caching: true
      - basic_docker_build
      - run: docker version

  machine_dlc:
    machine:
      docker_layer_caching: true
    steps:
      - run: which docker
      - run: docker -v
      - basic_docker_build
      - run: docker version

  # feature jobs
  contexts:
    executor: docker-default
    steps:
      - run: env | grep CONTEXT_END_TO_END_TEST_VAR

  multi-contexts:
    executor: docker-default
    steps:
      - run: env | grep MULTI_CONTEXT_END_TO_END_VAR

  write_workspace:
    executor: docker-default
    steps:
      - run: mkdir stuff
      - run: echo 5 >./stuff/thing
      - persist_to_workspace:
          root: .
          paths:
            - stuff

  read_workspace:
    executor: docker-default
    steps:
      - attach_workspace:
           at: ./attached
      - run: |
          if [[ $(< ./attached/stuff/thing) != '5' ]]; then
            echo 'Sadness, the value is not what we expected, so the workspace write/read did not work'
            exit 1
          else
            echo 'Yay, value matches'
            exit 0
          fi

  save_and_restore_cache:
    docker:
      - image: cimg/base:current
    steps:
      - checkout

      - run: mkdir -p stuff
      - run: echo 5 >./stuff/thing

      - save_cache:
          key: v3-file-cache-{{ .BuildNum }}
          paths:
            - ./stuff/thing

      - run: rm -rf ./stuff/thing
      - run: sleep 5

      - restore_cache:
            keys:
              - v3-file-cache-{{ .BuildNum }}

      - run: |
            if [[ $(< stuff/thing) != '5' ]]; then
              exit 1
            else
              echo "The cache was populated"
            fi

  artifacts_test_results:
    docker:
      - image: cimg/base:current
    steps:
      - checkout

      - run:
          name: Creating Dummy Artifacts
          command: |
            echo "my artifact file" > /tmp/artifact-1.txt;
            mkdir /tmp/artifacts;
            echo "my artifact files in a dir" > /tmp/artifacts/artifact-2.txt;

      - store_artifacts:
          path: /tmp/artifact-1.txt
          destination: artifact-file.txt

      - store_artifacts:
          path: /tmp/artifacts

      - store_test_results:
          path: test-results

workflows:
  docker_resource_class_jobs:
    jobs:
      - executor_resource_class:
          context: org-global
          matrix:
            parameters:
              resource_class: [small, medium, medium+, large, xlarge]
              executor_type: [docker] # default, but re-defining for clarity

  windows_resource_class_jobs:
    when:
      equal: [ true, << pipeline.parameters.windows-jobs >> ]
    jobs:
      - check_if_windows_is_enabled:
          context: org-global
      - executor_resource_class:
          context: org-global
          matrix:
            parameters:
              resource_class: [windows.medium, windows.large, windows.xlarge]
              executor_type: [windows]
          requires:
            - check_if_windows_is_enabled

  vm_jobs:
    jobs:
      - machine:
          context: org-global
      - remote_docker:
          context: org-global
      - docker_layer_caching:
          context: org-global
      - machine_dlc:
          context: org-global
  
  aws_jobs:
    when:
      equal: [ true, << pipeline.parameters.aws-jobs >> ]
    jobs:
      - check_if_environment_is_aws:
          context: org-global
      - aws_arm:
          context: org-global
          requires:
            - check_if_environment_is_aws
  
  gcp_jobs:
    when:
      equal: [ true, << pipeline.parameters.gcp-jobs >> ]
    jobs:
      - check_if_environment_is_gcp:
          context: org-global
      - android_machine:
          context: org-global
          requires:
            - check_if_environment_is_gcp

  feature_jobs:
    jobs:
      - save_and_restore_cache:
          context: org-global
      - contexts:
          context: org-global
      - multi-contexts:
          context: org-global
      - write_workspace:
          context: org-global
      - read_workspace:
          context: org-global
          requires:
            - write_workspace
      - artifacts_test_results:
          context: org-global

  other_jobs:
    jobs:
      - env-subst-example:
          context: org-global
