version: 2.1

parameters:
  is-cci-server:
    type: boolean
    default: true
  enable-aws:
    type: boolean
    default: true
  enable-gcp:
    type: boolean
    default: false
  enable-windows:
    type: boolean
    default: false
  dockerfile:
    type: string
    default: "Dockerfile"

executors:
  docker:
    docker:
      - image: 'cimg/base:stable'
    resource_class: vjpandian/eks-runner

  windows:
    machine:
      image: windows-default
      shell: 'powershell.exe -ExecutionPolicy Bypass'
    resource_class: windows.medium

  machine:
    machine: true

  android_machine:
    machine:
      image: android-default

  aws_arm:
    machine:
      image: default
    resource_class: arm.medium

commands:
  run-random-task:
    steps:
      - checkout
      - run:
          name: Generate 1000 random numbers
          command: for i in {1..1000}; do echo $RANDOM; done

jobs:
  env-subst-example:
    executor: docker
    steps:
      - run-random-task

  executor:
    parameters:
      resource_class:
        type: string
        default: "small"
      executor_type:
        type: string
        default: "docker"
    executor:
      name: <<parameters.executor_type>>
      resource_class: <<parameters.resource_class>>
    steps:
      - run-random-task

  machine:
    machine: true
    steps:
      - run-random-task

  android_machine:
    machine:
      image: default
    steps:
      - run-random-task

  docker:
    executor: docker
    steps:
      - run-random-task

  aws_arm:
    machine:
      image: default
    resource_class: xlarge
    steps:
      - run-random-task

  remote_docker:
    executor: docker
    steps:
      - run-random-task

  docker_layer_caching:
    executor: docker
    steps:
      - run-random-task

  machine_dlc:
    machine:
      image: default
      docker_layer_caching: true
    steps:
      - run-random-task

  contexts:
    executor: docker
    steps:
      - run-random-task

  multi-contexts:
    executor: docker
    steps:
      - run-random-task

  write_workspace:
    executor: docker
    steps:
      - run-random-task

  read_workspace:
    executor: docker
    steps:
      - run-random-task

  save_and_restore_cache:
    executor: docker
    steps:
      - run-random-task

  artifacts_test_results:
    executor: docker
    steps:
      - run-random-task

workflows:
  docker_resource_class_jobs:
    jobs:
      - docker

  windows_resource_class_jobs:
    when:
      and:
        - equal: [true, << pipeline.parameters.enable-windows >>]
    jobs:
      - executor:
          matrix:
            parameters:
              resource_class: [windows.medium, windows.large, windows.xlarge]
              executor_type: [windows]

  vm_jobs:
    jobs:
      - machine
      - remote_docker
      - docker_layer_caching
      - machine_dlc

  aws_jobs:
    when:
      and:
        - equal: [true, << pipeline.parameters.enable-aws >>]
    jobs:
      - aws_arm

  gcp_jobs:
    when:
      and:
        - equal: [true, << pipeline.parameters.enable-gcp >>]
    jobs:
      - android_machine

  feature_jobs:
    jobs:
      - save_and_restore_cache
      - contexts:
          context: vijay-context
      - multi-contexts:
          context: vijay-context
      - write_workspace
      - read_workspace:
          requires:
            - write_workspace
      - artifacts_test_results
